.swiper_container {
  height: 74rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 36rem;
  height: 44rem;
  position: relative;
  text-align: center;
}

@keyframes carousel-hover {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes carousel {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.swiper-slide img:hover {
  animation: carousel-hover 1s forwards;
}

@media (max-width: 1200px) {
  .swiper_container {
    height: 52rem;
  }
  .swiper-slide {
    width: 24rem !important;
    height: 32rem !important;
  }
  .swiper-slide img {
    width: 24rem !important;
    height: 32rem !important;
  }
}

@media (max-width: 1000px) {
  .swiper_container {
    height: 44rem;
  }
  .swiper-slide {
    width: 18rem !important;
    height: 26rem !important;
  }
  .swiper-slide img {
    width: 18rem !important;
    height: 26rem !important;
  }
}

@media (max-width: 800px) {
  .swiper_container {
    height: 36rem;
  }
  .swiper-slide {
    width: 12rem !important;
    height: 20rem !important;
  }
  .swiper-slide img {
    width: 12rem !important;
    height: 20rem !important;
  }
}

.swiper-slide img {
  width: 36rem;
  height: 44rem;
  object-fit: cover;
  animation: carousel 1s;

  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0002, #0004);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
