.booking-container {
  padding: 50px 30px 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
}

.movie-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.movie-info-primary {
  display: flex;
  width: 600px;
  flex-direction: column;
  gap: 20px;
  padding: 20px 10px 10px;
}

.movie-title {
  background-color: #bd1616;
  padding: 15px;
  margin-right: 20px;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.movie-pic {
  max-width: 100%;
  padding: 20px 20px 10px;
}

.movie-actors {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.actor-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.actor-img {
  border-radius: 50%;
  overflow: hidden;
}

.actor-pic {
  max-width: 114.75px;
}

.movie-booking-button {
  margin-top: 30px;
  margin-bottom: 10px;
}

.movie-rlg {
  padding-left: 20px;
  background: rgba(0, 10, 14, 0.2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (max-width: 1300px) {
  .booking-container {
    gap: 0;
    width: 100%;
    padding: 50px 0 44px;
  }

  .movie-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
  }

  .movie-pic-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .movie-pic {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .movie-title {
    padding: 0;
    width: 100%;
    margin-right: 0;
  }

  .movie-info-primary {
    width: 100%;
    gap: 15px;
    padding: 10px;
  }

  .actor-pic {
    max-width: 86.0625px;
  }

  .movie-booking-button {
    margin-top: 20px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movie-rlg {
    padding-left: 0;
  }

  .movie-actors {
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .movie-cast,
  .movie-description,
  .movie-title,
  .movie-rlg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .actor-pic {
    max-width: 57.375px;
  }

  .movie-container {
    width: 80%;
  }
}
